/ShortestPathSolver/nbactions.xml
/ShortestPathSolver/.classpath
/ShortestPathSolver/.project
/ShortestPathSolver/.settings/
/ShortestPathSolver/nbactions-release-profile.xml
/ShortestPathSolver/nb-configuration.xml
/ShortestPathSolver/nbproject/
/ShortestPathSolver/target/**
!/ShortestPathSolver/target/site/jacoco/
